<header class="header">
  <section class="top-header">
    <a href="" class="brand">
      <img src="assets/images/angular.png" alt="">
    </a>
    <nav>
      <a class="active">Dashboard</a>
      <a>User</a>
      <a>Schedule</a>
      <a>Login</a>
    </nav>
  </section>

  <section class="bottom-header">
    <h1 class="title">
      Angular Sprint
    </h1>

    <div class="username">
      <i>
        <mat-icon class="user-icon">account_circle</mat-icon>
      </i>
      <p>Username: {{email}}</p>
    </div>
  </section>
</header>
