<form [formGroup]="taskForm" (ngSubmit)="submit()" class="container">
  <app-text-field formControlName="title" type="text" label="Title" placeholder="todo"></app-text-field>
  <app-area-field formControlName="description" label="Description" placeholder="brief task"></app-area-field>
  <app-radio-field formControlName="status" label="Status" [options]="taskStatusOptions"></app-radio-field>

  <div class="btnContainer">
    <button *ngIf="type === 'Update'" mat-raised-button color="warn" class="deleteBtn" type="button"
      (click)="onDelete.emit()">
      Delete
    </button>

    <button mat-raised-button class="cancelBtn" type="button" (click)="onCancel()">Cancel</button>

    <button mat-raised-button color="primary" type="submit" class="submitBtn">{{type}}</button>
  </div>
</form>
